$black-blue: rgba(66, 86, 122, 1);
$black-blue-medium: rgba(66, 86, 122, 0.5);
$black-blue-dark: rgba(48, 62, 88, 0.5);
$black-blue-light: rgba(66, 86, 122, 0.1);
$fuschia: rgba(239, 93, 168, 1);
$iris: rgba(93, 95, 239, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(56, 119, 238, 1);
$blue-shadow: rgba(56, 119, 238, 0.1);
$background: rgba(244, 245, 249, 1);
