.events {
  padding: 526px 160px 104px 80px;
}

.event-swiper-button {
  padding: 8px;
  display: flex;
  position: absolute;
  bottom: calc(22% + 8px);
  border-radius: 100%;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 8px rgba(56, 119, 238, 0.1);
}
.event-swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(56, 119, 238, 1);
}
.event-image-swiper-button-prev {
  left: 22px;
}
.event-image-swiper-button-next {
  right: 38px;
}
.event-swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
