@import "src/app/styles/variables";

.home {
  margin: 0 160px 0 320px;
  border-left: solid 1px $black-blue-light;
  border-right: solid 1px $black-blue-light;
  max-width: 1920px;
  min-height: 100vh;
  background-image: url("../../assets/lines.svg");
  background-position: 50% 4%;
  &__period {
    position: relative;
    min-height: 500px;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 184px;
    //   width: 100%;
    //   height: 1px;
    //   background-color: $black-blue-light;
    //   z-index: -1;
    //   overflow: visible;
    // }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   width: 1px;
    //   height: 100vh;
    //   background-color: $black-blue-light;
    //   overflow: visible;
    //   top: -37%;
    //   left: 50%;
    // }
  }
  &__heading {
    position: absolute;
    z-index: -1;
    top: -9%;
    left: -1%;
    line-height: 160px;
    letter-spacing: -4px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__start {
    font: {
      family: "PT Sans";
      size: 200px;
      style: normal;
      weight: 700;
    }
    margin-right: 79px;
    color: $iris;
  }
  &__end {
    font: {
      family: "PT Sans";
      size: 200px;
      style: normal;
      weight: 700;
    }
    margin-left: 10px;
    color: $fuschia;
  }
}

@media (max-width: 1480px) {
  .home {
    margin: 0 80px 0 160px;
  }
}

@media (max-width: 1280px) {
  .home {
    margin: 0;
  }
}

@media (max-width: 980px) {
  .home {
    &__heading {
      top: 0%;
    }
    &__start {
      font: {
        size: 120px;
      }
      margin-right: 79px;
    }
    &__end {
      font: {
        size: 120px;
      }
      margin-left: 10px;
    }
  }
}

@media (max-width: 640px) {
  .home {
    background-image: none;
    &__period {
      position: static;
    }
    &__heading {
      position: static;
      padding: 64px 27px 57px 20px;
      width: 273px;
      margin: 0 auto;
    }
    &__start {
      font: {
        size: 56px;
      }
      line-height: 56px;
      margin: 0 15px 0 0;
    }
    &__end {
      font: {
        size: 56px;
      }
      line-height: 56px;
      margin: 0 0 0 15px;
    }
    // &__period {
    //   &:before {
    //     display: none;
    //   }
    //   &:after {
    //     display: none;
    //   }
    // }
  }
}
