@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./PTSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(./PTSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url(./BebasNeue-Regular.ttf) format("truetype");
}
