.carousel {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -284px;
  left: 48%;
  // min-height: 530px;
}

.container {
  position: relative;
  margin: auto;
  max-width: 530px;
  min-height: 300px;
}

.container_lower {
  max-width: 120px;
  min-height: 0;
}

.carousel-buttons {
  max-width: 120px;
  min-height: 0;
  display: grid;
  grid-template-areas:
    "pagin pagin"
    "button-left button-right";
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  position: absolute;
  left: -640px;
  bottom: -24px;
}

.carousel-paginator {
  grid-area: pagin;
  margin: 0 0 21px;
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-button {
  display: flex;
  position: relative;
  z-index: 10;
  border: solid 1px rgba(66, 86, 122, 0.5);
  border-radius: 50%;
  cursor: pointer;
  padding: 12px;
}
.carousel-button svg {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(66, 86, 122, 1);
}

.carousel-button_left {
  grid-area: button-left;
}

.carousel-button_right {
  grid-area: button-right;
}

.wrapper {
  margin-top: 300px;
  position: relative;
}

.circlePath {
  height: 530px;
  overflow: visible;
  width: 530px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  position: relative;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  color: rgba(244, 245, 249, 1);
  text-align: center;
  line-height: 6px;
  font-size: 6px;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
  overflow: visible;
  background-image: url(../../assets/dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item_active {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #42567a;
  border: 1px solid rgba(48, 62, 88, 0.5);
  font: {
    family: "PT Sans";
    size: 20px;
    style: normal;
    weight: 400;
  }
  line-height: 30px;
  text-align: center;
  background-color: rgba(244, 245, 249, 1);
  background-image: none;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

// .item:hover {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 56px;
//   height: 56px;
//   color: #42567a;
//   border: 1px solid rgba(48, 62, 88, 0.5);
//   font: {
//     family: "PT Sans";
//     size: 20px;
//     style: normal;
//     weight: 400;
//   }
//   line-height: 30px;
//   text-align: center;
//   background-color: rgba(244, 245, 249, 1);
// }
